/FrontEnd/node_modules


/BackEnd/WebServer/__pycache__
/BackEnd/WebServer/Controllers/__pycache__
/BackEnd/WebServer/Models/__pycache__
/BackEnd/WebServer/Services/__pycache__

/BackEnd/WebServer/env
/BackEnd/IA/models

/BackEnd/WebServer/data_files/*

# git reset HEAD^