
.filterbarcontainer{
  padding-top: 20px;
  padding-left: 0.1cm;
  margin-left: 1cm;
  

}
.legendFilterBar
{
  text-align: center;
  font-family: 'Gilroy-Light', sans-serif;
  font-size:25px; font-weight:300; color:#222; letter-spacing:1px;

  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
}


  .sweet-loading{
    margin-top: 100px;
  }
  .fieldsetFilter {
    margin-left: -25px !important;
    padding: 5px !important;
    border: 1px solid black !important;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 50px;
    background-color: rgb(255,245,238,0.5);
  }
  
  
  
  .control {
    display: inline-flex;
    position: relative;
    margin: 4px;
    cursor: pointer;
    border-radius: 99em;}
    
    .StyleInput {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    
  
  
  .control__content {
    display: inline-flex;
    align-items: center;
    padding: 5px 14px;
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 99em;}
    
    .control:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
  
  .control input:focus ~ .control__content {
    box-shadow: 0 0 0 0.25rem rgba(12, 242, 143, .2);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .control input:checked ~ .control__content {
    background-color: rgba(12, 242, 143, .2);
  }