.profile-header {
    background: #fff;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  }
  
  .profile-img {
    float: left;
    width: 340px;
    height: 200px;
  }
  
  .profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
  }
  
  .profile-nav-info {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
  }
  
  .profile-nav-info h3 {
  
    font-size: 2rem;

    font-weight: bold;
  }
  
  .profile-nav-info .address {
    display: flex;
    font-weight: bold;
    color: #777;
  }
  
  .profile-nav-info .address p {
    margin-right: 5px;
  }
  
  .profile-option {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;
    background: #369579;
  }
  
  
  .profile-option .notification i {
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
  }
  
  .profile-option .notification .alert-message {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: #3d3e42;
    border: 1px solid #369579;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  .main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
  }
  
  .profile-side {
      height: 110vh;
    width: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 90px 30px 20px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    z-index: 99;
  }
  
  .profile-side p {
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
  }
  
  .profile-side p i {
    color: #006ae4;
    margin-right: 10px;
  }
  
  
  
  .profile-btn {
    display: flex;
  }
  
  button.chatbtn,
  button.createbtn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(90deg, #3d3e42 0%, #369579   100%);
    color: #fff;
    font-family: "Bree Serif";
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition:  0.3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  }
  
  
  
  button.chatbtn i,
  button.createbtn i {
    margin-right: 5px;
  }
  
  .user-rating {
    display: flex;
  }
  
  .user-rating h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
  }
  
  .user-rating .no-of-user-rate {
    font-size: 0.9rem;
  }
  
  
  
  
  
  .nav1 {
    width: 100%;
   
  }
  
  .nav1 ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #006ae4;
  }
  
  .nav1 ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .nav1 ul li:hover,
  .nav1 ul li.active {

    position:relative;
    
    
  }
  
  .profile-body {
    
    width: 100%;
    z-index: -1;
  }
  
  .tab {
    display: none;
  }
  
  .tab {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 1100px) {
    .profile-side {
      width: 250px;
      padding: 90px 15px 20px;
    }
  
    .profile-img img {
      height: 200px;
      width: 200px;
      left: 50px;
      top: 50px;
    }
  }
  
 



  .notificationM{
    width: 100vh;
  }
  .message li {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}



.msg-img {
  margin-right: 20px;
}

.msg-img img {
        width: 30px;
        height: 28px;
        
}

.notificationsBody{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}


.align-items-center_not {
  align-items: center !important  }

.notificationsBody :first-child {
    align-self: center;
}

@media screen and (max-width: 640px) {
  .notificationsBody {
      display: block;
      width: 100%;
      justify-content: space-between;

  }
  .align-items-center_not {
    align-items:normal
  
  }
  .NotificationsContainer{
    margin-top: -16cm;
    margin-left: 4em;
    
  }

  .msg-img img {
  
    height: 30px;
    
}
 
}

@media screen and (min-height: 700px) {
 
  .NotificationsContainer{
    margin-top: -35cm;
    margin-left: 4em;
    
  }}



 


.message li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 575px) {
  .msg-img {
      margin-right: 12px;
  }
  .msg-img img {
      width: 50px;
  }
}
.message li {

  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.NotificationsContainer{
  padding-top: 150px;
  margin-left: 4em;
  
}
