@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
.seven
{
    width: 50%;
    margin: auto auto;
}
.seven h1 {
    padding-top: 100px;
    text-align: center;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #c50000;
        border-top: 1px solid #c50000;
        height: 5px;
        background-color:#f8f8f8;
    }