.containerReset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .form-box-Reset {
    width: 420px;
    height: 350px;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0.85;
    border-radius: 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .photo-Mod-Reset {
    padding-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .ContainerInputReset {
    padding-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .input-Style-Reset {
    background-color: transparent;
    border: 2px solid white;
    line-height: 0;
    font-size: 17px;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    letter-spacing: 0.01em;
    position: relative;
    margin-left: 15px;
  
    color: white;
  }
  .InputNameReset {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
    font-size: 16px;
  }
  
  .btn-Style-Reset {
    margin-top: 60px;
    border-radius: 10px;
    background-color: #ff0000; /* Green */
    border: 1px solid rgb(128, 30, 0);
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-Style-Reset:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .btn-Style-Reset:hover {
    background-color: #cc0519;
  }
  .Forgot-Reset {
    padding-top: 15px ;
    font-size: 13px;
    cursor: pointer;
    margin-left: auto;
    padding-right: 50px;
  }